.admin-box h3 {
  margin-bottom: 25px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  height: 55px;
  border-radius: 15px;
  border: 1px solid #d1d5db;
  padding: 0 20px;
  font-size: 15px;
  box-sizing: border-box;
}

.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  font-size: 14px;
}

.remember span {
  color: #16a34a;
  cursor: pointer;
}

.login-btn {
  width: 100%;
  height: 58px;
  margin-top: 25px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    #16a34a,
    #22c55e
  );

  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}